:root {
  --bg-very-dark-blue: hsl(200, 15%, 8%);
  --bg-very-light-gray: hsl(0, 0%, 98%);
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --dark-gray: hsl(0, 0%, 52%);
  --white: hsl(0, 0%, 100%);
  --light: 300;
  --semi-bold: 600;
  --extra-bold: 800;
}
html {
  margin: 0 0 0 0;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  color: var();
}

body {
  padding: 0 85px 0 85px;
  background-color: var(--bg-very-light-gray);
}
